<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169166097343-rg2ijqr1cf8i03s0kl2qjglqkm85gcou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169166097343-rg2ijqr1cf8i03s0kl2qjglqkm85gcou</string>
	<key>API_KEY</key>
	<string>AIzaSyCXYckmy-_GiYWa01cOkNmH3IwlGQBZjW0</string>
	<key>GCM_SENDER_ID</key>
	<string>169166097343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.keyivr.NabuhEnergyMobile</string>
	<key>PROJECT_ID</key>
	<string>api-7258688909349472183-951461</string>
	<key>STORAGE_BUCKET</key>
	<string>api-7258688909349472183-951461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169166097343:ios:a946f73fb516b6ae7d6f0a</string>
	<key>DATABASE_URL</key>
	<string>https://api-7258688909349472183-951461.firebaseio.com</string>
</dict>
</plist>